<nav class="navbar main-navbar shadow">
  <div class="container-fluid h-100 d-flex justify-content-end align-items-center">

    <ul class="navbar-nav align-items-center mb-0 h-100">

      <li class="nav-item dropdown profile-area h-100">

        <a 
          class="nav-link dropdown-toggle d-flex align-items-center h-100"
          href="#"
          id="userDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="profile-img-wrapper me-2">
            <img src="assets/images/Axl93.jpeg" alt="Foto" class="profile-img">
          </div>

          <div class="user-details text-start">
            <div class="user-name">Renan</div>
            <div class="user-role">Administrador</div>
          </div>

          <i class="fa fa-caret-down ms-2 dropdown-arrow"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end user-dropdown" aria-labelledby="userDropdown">
          <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalConfig">
              <i class="fa fa-cog me-2"></i> Configurações
            </a>
          </li>

          <li>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPerfil">
              <i class="fa fa-user me-2"></i> Perfil
            </a>
          </li>

          <li><hr class="dropdown-divider"></li>

          <li>
            <a class="dropdown-item" href="logout.php">
              <i class="fa fa-sign-out me-2"></i> Sair
            </a>
          </li>
        </ul>

      </li>
    </ul>

  </div>
</nav>
