<aside class="sidebar d-flex flex-column">

  <div class="sidebar-header d-flex align-items-center">
    <div class="system-icon me-2">
      <i class="fa-regular fa-gem"></i>
    </div>

    <div class="system-name">
      Nome do Sistema
    </div>
  </div>

  <nav class="sidebar-nav flex-grow-1">
    <ul class="sidebar-menu list-unstyled mb-0">

      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a href="#" class="d-flex align-items-center nav-link px-3">
          <i class="fa-solid fa-gauge me-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuPessoas"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-users me-2"></i>
            <span>Pessoas</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuPessoas">
          <li>
            <a href="#" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user me-2"></i>
              <span>Usuários</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuCadastros"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-layer-group me-2"></i>
            <span>Cadastros</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuCadastros">
          <li>
            <a href="#" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-users-gear me-2"></i>
              <span>Grupos</span>
            </a>
          </li>

          <li>
            <a href="#" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-key me-2"></i>
              <span>Acessos</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

</aside>
