<aside class="sidebar sidebar-desktop d-none d-md-flex flex-column">

  <div class="sidebar-header d-flex flex-column">
    <div class="d-flex align-items-center mb-1">
      <div class="system-icon me-2">
        <i class="fa-solid fa-gamepad"></i>
      </div>

      <div class="system-name">RDT Games</div>
    </div>

    <button
      class="btn btn-sm btn-outline-light sidebar-toggle"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarNavCollapseDesktop"
      aria-controls="sidebarNavCollapseDesktop"
      aria-expanded="true"
      aria-label="Alternar menu"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>

  <nav id="sidebarNavCollapseDesktop" class="sidebar-nav flex-grow-1 collapse show">
    <ul class="sidebar-menu list-unstyled mb-0">

      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a routerLink="/home" routerLinkActive="active"  class="d-flex align-items-center nav-link px-3">
          <i class="fa-solid fa-gauge me-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuPessoasDesktop"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-users me-2"></i>
            <span>Pessoas</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuPessoasDesktop">
          <li>
            <a routerLink="/users" routerLinkActive="active"  class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user me-2"></i>
              <span>Usuários</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuCadastrosDesktop"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-layer-group me-2"></i>
            <span>Cadastros</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuCadastrosDesktop">
          <li>
            <a routerLink="/groups" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-users-gear me-2"></i>
              <span>Grupos</span>
            </a>
          </li>

          <li>
            <a routerLink="/access" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-key me-2"></i>
              <span>Acessos</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

</aside>

<aside
  id="sidebarOffcanvas"
  class="sidebar sidebar-mobile offcanvas offcanvas-start d-md-none d-flex flex-column"
  tabindex="-1"
  aria-labelledby="sidebarOffcanvasLabel"
>

  <div class="sidebar-header d-flex flex-column">
    <div class="d-flex align-items-center mb-1 w-100">
      <div class="system-icon me-2">
        <i class="fa-solid fa-gamepad"></i>
      </div>

      <div class="system-name" id="sidebarOffcanvasLabel">RDT Games</div>

      <button
        type="button"
        class="btn-close btn-close-white ms-auto"
        data-bs-dismiss="offcanvas"
        aria-label="Fechar"
      ></button>
    </div>
  </div>

  <nav class="sidebar-nav flex-grow-1">
    <ul class="sidebar-menu list-unstyled mb-0">

      <li class="header">
        <span class="header-chip">MENU NAVEGAÇÃO</span>
      </li>

      <li class="treeview">
        <a routerLink="/home" routerLinkActive="active" class="d-flex align-items-center nav-link px-3">
          <i class="fa-solid fa-gauge me-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuPessoasMobile"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-users me-2"></i>
            <span>Pessoas</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuPessoasMobile">
          <li>
            <a routerLink="/users" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-user me-2"></i>
              <span>Usuários</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a
          class="d-flex align-items-center justify-content-between nav-link px-3 collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#submenuCadastrosMobile"
        >
          <span class="d-flex align-items-center">
            <i class="fa-solid fa-layer-group me-2"></i>
            <span>Cadastros</span>
          </span>

          <span>
            <i class="fa-solid fa-caret-right submenu-toggle-icon closed"></i>
            <i class="fa-solid fa-caret-down submenu-toggle-icon open"></i>
          </span>
        </a>

        <ul class="treeview-menu collapse list-unstyled mb-0" id="submenuCadastrosMobile">
          <li>
            <a routerLink="/groups" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-users-gear me-2"></i>
              <span>Grupos</span>
            </a>
          </li>

          <li>
            <a routerLink="/access" routerLinkActive="active" class="d-flex align-items-center nav-link px-4">
              <i class="fa-solid fa-key me-2"></i>
              <span>Acessos</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

</aside>
