.user-card {
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.user-form-container {
  width: 100%;
}

.user-form-inputs .form-control {
  height: 46px;
}

.user-form-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.user-form-button {
  height: 50px;
  width: 110px;
  border-radius: 10px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .user-form-buttons {
    justify-content: flex-end;
  }
}
