.user-card {
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.user-form-container {
  width: 100%;
}

.user-form-inputs .form-control {
  height: 46px;
}

.user-form-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.user-form-button {
  height: 50px;
  width: 110px;
  border-radius: 10px;
  font-weight: bold;
}

.select-wrapper {
  position: relative;
}

.select-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23666' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 14px;
}

@media (min-width: 992px) {
  .user-form-buttons {
    justify-content: flex-end;
  }
}
