<div class="receivable-filter-container">
  <div class="receivable-actions-group">
    <a routerLink="/receivables/create" class="action-link">
      <button class="btn btn-primary text-white btn-crud-action">
        NOVA CONTA
      </button>
    </a>
  </div>
</div>

<app-receivable-filters
  (filter)="applyFilters($event)"
  (clear)="clearFilters()"
></app-receivable-filters>

<div class="receivable-card">
  <div class="empty-state" *ngIf="receivables.length === 0">
    Nenhuma conta encontrada.
  </div>

  <div class="receivable-list" *ngIf="receivables.length > 0">
    <app-receivable-card
      *ngFor="let receivable of receivables"
      [receivable]="receivable"
      (pay)="pay($event)"
      (installment)="installment($event)"
      (details)="openDetails($event)"
      (files)="openFilesModal($event)"
      (receipt)="generateReceipt($event)"
      (delete)="delete($event)"
    ></app-receivable-card>
  </div>

  <p-paginator
    [rows]="pagination.linesPerPage"
    [totalRecords]="totalElements"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="changePage($event)"
  ></p-paginator>

  <app-receivable-details-modal
    [visible]="detailsVisible"
    (visibleChange)="detailsVisible = $event"
    [receivable]="receivableDetails"
  ></app-receivable-details-modal>

  <app-receivable-files-modal
    [visible]="filesVisible"
    (visibleChange)="filesVisible = $event"
    [receivableId]="selectedReceivableId"
    [receivableDescription]="selectedReceivableDescription"
  ></app-receivable-files-modal>
</div>
